/* ====================================================================================== */
/* ||                                       main                                       || */
/* ====================================================================================== */



/* ##############               ############## */
/* ##############  CSS général  ############## */
/* ##############               ############## */

/* Pour personaliser la couleur en fond */
main
{
    background-color: #ff5e4d; /* Pour les navigateurs qui ne prennent pas en chargent la couleur dégrader */
    background-image: linear-gradient(to right, #ff5e4d , #ffa000);
}



footer
{
    background-color: black;
}



p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* ##############               ############## */
/* ##############  CSS du logo  ############## */
/* ##############               ############## */

/* Pour positionner le logo  */
#main_logo_center
{
    text-align: center;
}

#main_logo
{
    position: relative;
    margin-left: 0%;
}




/* ##############                  ############## */
/* ##############  CSS des formes  ############## */
/* ##############                  ############## */

/* Pour aligner les formes invisibles */
#forme_flex_1
{
    position: relative;
    display: flex;
}



/* Pour aligner les formes invisibles */
#forme_flex_2
{
    position: relative;
    display: flex;
    margin-top: -26.3%;
    z-index: 4;
}



/* Personalisation de la forme "connexion" */
#forme_connexion
{
    position: relative;
    width: 30%; 
    height: 64vh; 
    margin-left: 19%;
    margin-top: 0%; /*  modifie la hauteur de la position de la forme totale */
    box-shadow: 0px 2px 5px #bbbbbb;    /* pour créer de l'ombre  (horizontal) (vertical) (épaisseur)*/
    border-radius: 15px 15px 15px 15px;    /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    background-color: white;
    opacity: 0.85;   /* Problème de dépendance de l'opacité avec le contenue à l'intérieur de la forme... */
}


/* Personalisation de la forme "incsription" */
#forme_inscription
{
    position: relative;
    width: 30%; 
    height: 91vh; 
    margin-left: 3%;
    margin-top: 0%; /*  modifie la hauteur de la position de la forme totale */
    box-shadow: 0px 2px 5px #bbbbbb;    /* pour créer de l'ombre  (horizontal) (vertical) (épaisseur)*/
    border-radius: 15px 15px 15px 15px;    /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    background-color: white;
    opacity: 0.8;   /* Problème de dépendance de l'opacité avec le contenue à l'intérieur de la forme... */
}



/* Personalisation de la forme invisible "connexion" */
#forme_connexion_invisible
{
    position: relative;
    width: 30%; 
    height: 46vh; 
    margin-left: 19%;
    margin-top: -16%; /*  modifie la hauteur de la position de la forme totale */
    border-radius: 15px 15px 15px 15px;    /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    background-color: transparent;
}



/* Personalisation de la forme invisible "incsription" */
#forme_inscription_invisible
{
    position: relative;
    width: 30%; 
    height: 46vh; 
    margin-left: 3%;
    margin-top: -15.8%; /*  modifie la hauteur de la position de la forme totale */
    border-radius: 15px 15px 15px 15px;    /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    background-color: transparent;
}




/* ##############                                ############## */
/* ##############  CSS de la partie "connexion"  ############## */
/* ##############                                ############## */

/* Pour personaliser les titres de la partie "connexion" */
#h_connexion_1
{
    position: relative;
    margin-top: 8%;
    text-align: center;
    font-size: 120%;
    font-weight: 500;   /* Pour changer l'épaisseur de la police */
    color: black;
}

#h_connexion_2
{
    margin-top: -4%;
    text-align: center;
    font-size: 120%;
    font-weight: 400;
    color: black;
}



/* Pour personaliser les champs d'entrée de la partie "connexion" */
#connexion_e-mail_1
{
    position: relative;
    margin-top: 7%;
    margin-left: 20%;
    width: 240px;
    height: 45px;
    border-radius: 50px 50px 50px 50px; /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    padding-left: 30px;
    /*background-image: url('test_patate.jpeg'); 
    background-size: 20px;
    background-position: left center; 
    background-repeat: no-repeat;*/
    background-color: rgb(220, 220, 220);
    border: none;
    display: flex;
}

#connexion_e-mail_2
{
    margin-left: 6%;
    width: 190px;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 200, 170);
    border: none;
}

#img_connexion_e-mail_1
{
    margin-left: -6.2%;
    margin-top: 4%;
}

#connexion_mdp_1
{
    position: relative;
    margin-top: 7%;
    margin-left: 20%;
    width: 240px;
    height: 45px;
    border-radius: 50px 50px 50px 50px; /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    padding-left: 30px;
    /*background-image: url('test_patate.jpeg'); 
    background-size: 20px;
    background-position: left center; 
    background-repeat: no-repeat;*/
    background-color: rgb(220, 220, 220);
    border: none;
    display: flex;
}

#connexion_mdp_2
{
    margin-left: 6%;
    width: 160px;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 200, 170);
    border: none;
}

#img_connexion_mdp_1
{
    margin-left: -6.2%;
    margin-top: 4%;
}

#img_connexion_mdp_2
{
    margin-left: 1%;
    margin-top: 4%;
}



/* Pour personnaliser le bouton "connexion" */
#bouton_connexion
{
    position: relative;
    margin-top: 23%;
    bottom: 15px;
    padding: 8px 40px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(0, 200, 170);
    color: white;
}



/* pour aligner le bouton au centre */
#connexion_bouton_center 
{
    text-align: center;
    margin-top: -10%;
}



/* pour aligner la fin de la partie "connexion" au centre */
#connexion_center_1 
{
    text-align: center;
    margin-top: 5%;
}



/* Pour positionner l'image à la fin de la partie connexion */
#connexion_flex_1
{
    margin-left: 23%;
    margin-bottom: 2%;
    display: flex;
}

#img_connexion_info_client
{
    position: relative;
    margin-right: 2%;
}




/* ##############                                  ############## */
/* ##############  CSS de la partie "inscription"  ############## */
/* ##############                                  ############## */

/* Pour personaliser les titres de la partie "connexion" */
#h_inscription_1
{
    position: relative;
    margin-top: 8%;
    text-align: center;
    font-size: 120%;
    font-weight: 500;   /* Pour changer l'épaisseur de la police */
    color: black;
    /*opacity: 1 !important;*/  /*  test d'opacité qui ne marche pas */
}

#h_inscription_2
{
    margin-top: -4%;
    text-align: center;
    font-size: 120%;
    font-weight: 400;
    color: black;
}

#p_connexion
{
    color: rgb(120, 120, 120);
}



/* Pour personaliser les champs d'entrée de la partie "connexion" */
#img_prenom
{
    margin-left: -6.2%;
    margin-top: 4%;
}

#inscription_prenom_1
{
    position: relative;
    margin-top: 7%;
    margin-left: 20%;
    width: 240px;
    height: 45px;
    border-radius: 50px 50px 50px 50px; /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    padding-left: 30px;
    /*background-image: url('test_patate.jpeg'); 
    background-size: 20px;
    background-position: left center; 
    background-repeat: no-repeat;*/
    background-color: rgb(220, 220, 220);
    border: none;
    display: flex;
}

#inscription_prenom_2
{
    margin-left: 6%;
    width: 190px;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 200, 170);
    border: none;
}



#inscription_nom_1
{
    position: relative;
    margin-top: 7%;
    margin-left: 20%;
    width: 240px;
    height: 45px;
    border-radius: 50px 50px 50px 50px; /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    padding-left: 30px;
    /*background-image: url('test_patate.jpeg'); 
    background-size: 20px;
    background-position: left center; 
    background-repeat: no-repeat;*/
    background-color: rgb(220, 220, 220);
    border: none;
    display: flex;
}

#inscription_nom_2
{
    margin-left: 6%;
    width: 190px;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 200, 170);
    border: none;
}

#img_nom
{
    margin-left: -6.2%;
    margin-top: 4%;
}



#inscription_e-mail_1
{
    position: relative;
    margin-top: 7%;
    margin-left: 20%;
    width: 240px;
    height: 45px;
    border-radius: 50px 50px 50px 50px; /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    padding-left: 30px;
    /*background-image: url('test_patate.jpeg'); 
    background-size: 20px;
    background-position: left center; 
    background-repeat: no-repeat;*/
    background-color: rgb(220, 220, 220);
    border: none;
    display: flex;
}

#inscription_e-mail_2
{
    margin-left: 6%;
    width: 190px;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 200, 170);
    border: none;
}

#img_e-mail
{
    margin-left: -6.2%;
    margin-top: 4%;
}



#inscription_mdp_1
{
    position: relative;
    margin-top: 7%;
    margin-left: 20%;
    width: 240px;
    height: 45px;
    border-radius: 50px 50px 50px 50px; /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    padding-left: 30px;
    /*background-image: url('test_patate.jpeg'); 
    background-size: 20px;
    background-position: left center; 
    background-repeat: no-repeat;*/
    background-color: rgb(220, 220, 220);
    border: none;
    display: flex;
}

#inscription_mdp_2
{
    margin-left: 6%;
    width: 190px;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 200, 170);
    border: none;
}

#img_mdp_1
{
    margin-left: -6.2%;
    margin-top: 4%;
}

#img_mdp_2
{
    margin-right: 6.2%;
    margin-top: 4%;
}



/* Pour personnaliser le bouton "connexion" */
#bouton_inscription
{
    position: relative;
    margin-top: 10%;
    margin-left: 35%;
    padding: 8px 40px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(0, 200, 170);
    color: white;
}



/* pour positionner le paragraphe à la fin de la partie "connexion" */
#p_inscription_1
{
    margin-left: 20%;
    margin-top: 10%;
    background: transparent;
    padding: 0px;  /* Pour rajouter de l'espace */
    width: 59%;
    height: 100px;
    /*overflow: scroll;*/   /* Pour ajouter une barre déroulante */
    /*border: 1px solid #ccc;*/
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgb(120, 120, 120);
}





/* Pour positionner le paragraphe à la fin de la partie "main" */
#p_note
{
    position: relative;
    margin-left: 19%;
    margin-top: 25%;
    background: transparent;
    padding: 0px;  /* Pour rajouter de l'espace */
    width: 63%;
    height: 100px;
    /*overflow: scroll;*/   /* Pour ajouter une barre déroulante */
    /*border: 1px solid #ccc;*/
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgb(120, 120, 120);
}




/* ##############                         ############## */
/* ##############  CSS de l'arrière plan  ############## */
/* ##############                         ############## */

/* La forme blanche qui cache l'arrière plan */
#vision_forme_1
{
    position: absolute;
    margin-top: 22%;
    opacity: 1;
    z-index: 0;
}






/* ====================================================================================== */
/* ||                                       footer                                     || */
/* ====================================================================================== */



/* ##############                              ############## */
/* ##############  CSS de de la partie "logo"  ############## */
/* ##############                              ############## */

/* Ajustement de la position du logo de Studiolab au centre */
#footer_img_1
{
    margin-top: 3.5%;
    margin-left: 43.5%;
}




/* ##############                                    ############## */
/* ##############  CSS de de la partie "paragraphe"  ############## */
/* ##############                                    ############## */

/* Pour personaliser le titre du 1er paragraphe */
#footer_h_1
{
    font-size: 100%;
    margin-left: 10%;
    margin-top: 2.5%;
    /*line-height: 1.5;*/
    font-family:Arial, Helvetica, sans-serif;
    /*float: left;*/
    color: rgb(255, 255, 255);
}



/* Pour créer des formes qui ressemblent à des lignes qui seront placé sous le titre 
"À propos de nous!" */
#footer_forme_1
{
    width: 1.5%; 
    height: 0.7vh; 
    margin-left: 10%;
    margin-bottom: 1%;
    border-radius: 50px 50px 50px 50px;    /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    background-color: rgb(250, 150, 0);
    display: inline-block;
}

#footer_forme_2
{
    width: 5.5%; 
    height: 0.7vh; 
    margin-left: 0.5%;
    margin-bottom: 1%;
    border-radius: 50px 50px 50px 50px;    /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    background-color: rgb(250, 150, 0);
    display: inline-block;
}



/* Pour personaliser le paragraphe de gauche */
#footer_p_1
{
    margin-left: 10%;
    margin-top: 0%;
    background: /*lightblue*/ transparent;
    padding: 0px;  /* Pour rajouter de l'espace */
    width: 35%;
    height: 130px;
    /*overflow: scroll;*/   /* Pour ajouter une barre déroulante */
    /*border: 1px solid #ccc;*/
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgb(160, 160, 160);
}



/* Pour personaliser le titre du 2ème paragraphe */
#footer_h_2
{
    font-size: 100%;
    margin-right: 22%;
    margin-top: 0%;
    /*line-height: 1.5;*/
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    float: right;
}



/* Pour créer des formes qui ressemblent à des lignes qui seront placé sous le titre 
"Nos services" */
#footer_forme_3
{
    width: 1.5%; 
    height: 0.7vh; 
    margin-right: -1.5%;
    margin-top: 2.5%;
    border-radius: 50px 50px 50px 50px;    /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    background-color: rgb(0, 200, 255);
    float: right;
}

#footer_forme_4
{
    width: 5.5%; 
    height: 0.7vh; 
    margin-right: -7.7%;
    margin-top: 2.5%;
    border-radius: 50px 50px 50px 50px;    /*  Pour arrondir la forme : coin gauche sup, coin droite sup, coin droite inf, coin gauche inf */
    background-color: rgb(0, 200, 255);
    float: right;
}



/* Pour positioner la liste à droite */
#footer_ul_1
{
    float: right;
    margin-right: -12%;
    margin-top: 4%;
    list-style-type: none;
    line-height: 1.7;
    color: rgb(160, 160, 160);
}



/* Pour personaliser les puces sous formes de triangle */
#footer_ul_2
{
    margin-top: 4.5%;
    margin-right: -2.5%;
    width: 0; /* Largeur nulle */
    height: 0; /* Hauteur nulle */
    border-style: solid; /* Bordure pleine */
    border-width: 7px 7px; /* longueur (y), largeur (x) */
    border-color: transparent transparent transparent orange; /* Couleurs des côtés d'un carré : haut, droite, bas, gauche */
    float: right;
}

#footer_ul_3
{
    margin-top: 6.3%;
    margin-right: -2.5%;
    width: 0; /* Largeur nulle */
    height: 0; /* Hauteur nulle */
    border-style: solid; /* Bordure pleine */
    border-width: 7px 7px; /* longueur (y), largeur (x) */
    border-color: transparent transparent transparent orange; /* Couleurs des côtés d'un carré : haut, droite, bas, gauche */
    float: right;
}

#footer_ul_4
{
    margin-top: 8.1%;
    margin-right: -2.5%;
    width: 0; /* Largeur nulle */
    height: 0; /* Hauteur nulle */
    border-style: solid; /* Bordure pleine */
    border-width: 7px 7px; /* longueur (y), largeur (x) */
    border-color: transparent transparent transparent orange; /* Couleurs des côtés d'un carré : haut, droite, bas, gauche */
    float: right;
}

#footer_ul_5
{
    margin-top: 9.9%;
    margin-right: -2.5%;
    width: 0; /* Largeur nulle */
    height: 0; /* Hauteur nulle */
    border-style: solid; /* Bordure pleine */
    border-width: 7px 7px; /* longueur (y), largeur (x) */
    border-color: transparent transparent transparent orange; /* Couleurs des côtés d'un carré : haut, droite, bas, gauche */
    float: right;
}



/* Pour aligner numéros et adresses entre elles */
#footer_flex_1
{
    padding-top: 3%;
    margin-left: 10%;
    display: flex;
}



/* Pour ajuster la position des dessins */
#footer_dessin_maison
{
    position: absolute;
    margin-top: 3%;
    margin-left: 10%;
}



/* Pour ajuster la position des images de téléphones et d'adresses */
#footer_img_2
{
    position: absolute;
    margin-left: 0%;
    margin-top: -0.5%;
    opacity: 1;
}

#footer_img_3
{
    position: absolute;
    margin-left: 17%;
    margin-top: 0%;
    opacity: 1;
}

#footer_img_4
{
    margin-left: 5%;
    margin-top: 0%;
    opacity: 1;
}

#footer_img_5
{
    margin-left: 5%;
    margin-top: 0%;
    opacity: 1;
}



/* Pour ajuster la position des numéros de téléphones et adresses */
#footer_p_2
{
    margin-left: 4%;
    margin-top: 0.6%;
    color: rgb(230, 230, 230);
    /*color: white;*/
} 

#footer_p_3
{
    margin-left: 9.5%;
    margin-top: 0.6%;
    color: rgb(230, 230, 230);
    /*color: white;*/
}

#footer_p_4
{
    margin-left: 1%;
    margin-top: 0.6%;
    color: rgb(230, 230, 230);
    /*color: white;*/
}

#footer_p_5
{
    margin-left: 1%;
    margin-top: 0.6%;
    color: rgb(230, 230, 230);
    /*color: white;*/
}

#footer_p_6
{
    margin-left: 65.2%;
    margin-top: -1%;
    color: rgb(230, 230, 230);
    /*color: white;*/
}



/* Positionnement et personnalisationn de la dèrnière ligne de footer */
#footer_flex_2
{
    padding-top: 3%;
    margin-left: 0%;
    display: flex;
}

#footer_p_7
{
    margin-left: 28%;
    margin-top: -1%;
    padding-bottom: 5%;
    color: orange;
}

#footer_p_8
{
    margin-left: 5%;
    margin-top: -1%;
    color: orange;
}



/* positionnement et personalisation du lien cliquable */
#footer_a
{
    margin-left: 5%;
    margin-top: -1%;
    color: orange;
}